#map {
  height: 100%;
  position: absolute;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 70px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: "Roboto", "sans-serif";
  margin: 10px;
  padding: 10px;
  /* Hide the control initially, to prevent it from appearing
           before the map loads. */
  display: none;
  left: 86.8%!important;
  top: 7%!important;
}

/* Display the control once it is inside the map. */
#map .map-control {
  display: block;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  vertical-align: baseline;
}


.box {
  shape-outside: polygon(10px);
  background-color: blue;
  height: 2vh;
  width: calc(2vh + 2vh/4);
  border: solid 1px;
}

.colorMalha {
  background-color: black;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}

.colorFaixaDoc {
  background-color: #ff5400;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorFaixa15 {
  background-color: #55007d;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorFaixaProp {
  background-color: #33f544;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorAlteracaoMalha {
  background-color: #bbfcb8;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorAreaRisco {
  background-color: #686868;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorComercio  {
  background-color: #00ffff;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorOrgaoPublico {
  background-color: #730000;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorOutros {
  background-color: #ff00ff;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorResidencia {
  background-color: #0055ff;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorSemAcesso {
  background-color: #ff00ff;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorViaPublica {
  background-color: #ff0000;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.colorTerrenoCercado {
  background-color: #ffff00;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}

