.bg {
    height: 100vh;
    background-image: url('../assets/img/locomotiva-MRS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #0000004a;
}

.card-login {
    background-color: #e9e9e9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login .form .card {
    padding: 40px;
}

@media only screen and (max-width: 991px) {
  .bg {
    display: none;
  }
}

.titulo-login {
  color: white;
}

.image-logo{
  margin-top: 30px;
  padding-top: 0;
  max-height: 13%;
  max-width: 50%;
  /* filter: brightness(0) invert(1); */
}
